@{
    ViewBag.Title = "Home Page";
}

<div class="JPHSA411_jumbotron col-md-12">
    <h1>Directory Assistance</h1>
    <p class="lead">For JPHSA</p>
</div>

<div class="clearfix visible-md"></div>
<!-- 1st Row-->
<div class="container">

    <div class="row">
        <div class="col-md-6">

            <h2>Quick Links</h2>
            <ul>
                <li>
                    <b>Phone Lookup</b>
                    <a href="http://wbsql1/Reports_PROD/report/Reports_For_All_Users/001_Telephone_Contacts">
                        <img src="~/images/phone.gif" alt="JPHSA Phone Lookup" />
                    </a>
                    <br />

                </li> 
                
                <li>
                    <b>JPHSA Intranet</b> <small>(Policy & Procedure, Forms, etc.)</small>
                    <br />
                    <a href="http://www2.jphsa.org/" target="_blank">CLICK</a>
                </li>                
                                 
                <li>
                    <b>Calendar</b>
                    <a href="http://www2.jphsa.org/newcalendar.asp"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="~/images/calendar_03.gif" alt="JPHSA Calendar"/>
                    </a>
                    <br/>

                </li>


                <li>
                    <b>LOCUS</b>
                    <br/>
                    <a href="http://locus.jphsa.org:65531/" target="_blank">CLICK</a>
                </li>
                <li>
                    <b>OBH FORM</b>
                    <br/>
                    <a href="http://jphsa-ebweb2:65532/Home/OBHForm" target="_blank">CLICK</a>
                </li>
                <li>
                    <b>Success</b>
                    <br/>
                    <a href="https://launch.ehsmed.com:4443/pls/hb/hb_web.main" target="_blank">CLICK</a>
                </li>
                <li>
                    <b>SysAid</b> <small>(use Windows Login and Password)</small>
                    <br/>
                    <a href="http://jphsa-ebweb2:8080/EndUserPortal.jsp" target="_blank">CLICK</a>
                </li>

            </ul>
        </div>
        <div class="col-md-6">

            <h2>External Links</h2>
            <ul>
 
                <li>
                    <b>LEO</b>
                    <br />
                    <a href="https://leo.doa.louisiana.gov/irj/portal" target="_blank">CLICK</a>
                </li>
                <li>
                    <b>Relias</b>
                    <br />
                    <a href="https://jphsa.training.reliaslearning.com/lib/Authenticate.aspx?ReturnUrl=%2f" target="_blank">CLICK</a>
                </li>
                <li>
                    <b>LASIS</b> <small>(LA Addiction Services Info. System)</small>
                    <br />
                    <a href="https://lasis.dhh.la.gov/" target="_blank">CLICK</a>
                </li>
                <li>
                    <b>LDOL</b> <small>(use Internet Explorer and allow Java Update, not Chrome)</small>
                    <br />
                    <a href="http://wwwtn.ldol.state.la.us:2082/3270.html" target="_blank">CLICK</a>
                </li>
                <li>
                    <b>google Search</b>
                        <br />
                        <a href="http://www.google.com" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>

    </div>
</div>


