@{
    ViewBag.Title = "IT Dept Page";
}

<div class="JPHSA411_jumbotron col-md-12">
    <h1>Directory Assistance</h1>
    <p class="lead">IT Department</p>
</div>

<div class="clearfix visible-md"></div>


<!-- 1st Row-->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>SSRS</h2>
            <ul>

                <li>
                    WAREHOUSE
                    <br />
                    <a href="http://wbsql1/Reports_WAREHOUSE/browse/" target="_blank">CLICK</a>
                </li>
                <li>
                    Production
                    <br />
                    <a href="http://wbsql1/Reports_PROD/browse/" target="_blank">CLICK</a>
                </li>
                <li>
                    WAREHOUSE Development
                    <br />
                    <a href="http://wbsql1/Reports_WAREHOUSE_DEV/browse/" target="_blank">CLICK</a>
                </li>
                <li>
                    Development
                    <br />
                    <a href="http://wbsql1/Reports_DEV/browse/" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>

        <div class="col-md-3">
            <h2>General Links</h2>
            <ul>
                <li>
                    Success
                    <br />
                    <a href="https://launch.ehsmed.com:4443/pls/hb/hb_web.main" target="_blank">CLICK</a>
                </li>
                <li>
                    Intranet
                    <br />
                    <a href="http://www2.jphsa.org/" target="_blank">CLICK</a>
                </li>
                <li>
                    LEO
                    <br />
                    <a href="https://leo.doa.louisiana.gov/irj/portal" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>

        <div class="col-md-3">
            <h2>IT Consoles</h2>
            <ul>
                <li>
                    SysAid - Original
                    <br />
                    <a href="http://jphsa-wbweb:8080/Login.jsp" target="_blank">CLICK</a>
                </li>
                <li>
                    SysAid - New
                    <br />
                    <a href="http://JPHSA-EBWEB2:8080/Login.jsp" target="_blank">CLICK</a>
                </li>
                <li>
                    WhatsUp Gold
                    <br />
                    <a href="http://wug.jphsa.org/NmConsole/#v=Wug_view_userManagement_UsersLibrary" target="_blank">CLICK</a>
                </li>
                <li>
                    Toshiba Phone (use extension to login)
                    <br />
                    <a href="http://10.11.54.20/oamp/login" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <h2>WAMP (Apache01)</h2>
            <ul>

                <li>
                    OBHFORM (Form_01)
                    <br />
                    <a href="http://10.11.54.245/OBHFORM/OBHFORM.html" target="_blank">CLICK</a>
                </li>
                <li>
                    Index.html
                    <br />
                    <a href="http://10.11.54.245/Index.html" target="_blank">CLICK</a>
                </li>
                <li>
                    Info.php
                    <br />
                    <a href="http://10.11.54.245/info.php" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>

        <div class="col-md-3">
            <h2>CRUD Front-End</h2>
            <ul>
                <li>
                    Front-End [t0001_Server]
                    <br />
                    <a href="http://10.11.54.25:65533/" target="_blank">CLICK</a>
                </li>
                <li>
                    Front-End [t0003_Contacts]
                    <br />
                    <a href="http://10.11.54.25:65534/" target="_blank">CLICK</a>
                </li>

            </ul>
        </div>

        <div class="col-md-3">
            <h2>Online References and Manuals</h2>
            <ul>
                <li>
                    SysAid
                    <br />
                    <a href="https://www.sysaid.com/help-page.htm?helpPageId=5733&edition=2" target="_blank">CLICK</a>
                </li>
                <li>
                    The Unofficial SysAid Wiki
                    <br />
                    <a href="https://sites.google.com/site/sysaidwiki/sysaid-general" target="_blank">CLICK</a>
                </li>

            </ul>
        </div>

    </div>

</div>

