
@{
    ViewBag.Title = "Contact";
}

<div class="JPHSA411_jumbotron col-md-12">
    <h1>Directory Assistance</h1>
    <p class="lead">For JPHSA</p>
</div>

<div class="clearfix visible-md"></div>


<!-- 1st Row-->
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <IFRAME id="EndUserP" SRC="http://JPHSA-EBWEB2:8080/EndUserPortal.jsp?noframe=YES" width="1100" height="1000"></IFRAME>
        </div>


    </div>
</div>

